
@{
    ViewBag.Title = "Create Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section _Header
{
    @Html.Partial("_HeaderLayout");
}
@section _LeftMenu
{
    @Html.Partial("_LeftMenu");
}
@section _headerPage
{
    <header class="page-header">
        <h2>Add Role</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="#">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Admin Manager / Role / Add Role</span></li>
            </ol>

            <a class="sidebar-right-toggle"></a>
        </div>
    </header>
}

<div class="form-v5">
    <div class="page-content">
        <div class="form-v5-content">
            <form class="form-detail" action="/Admin/AccountRoles/Store" method="post" name="RoleForm">
                <h2>Form Request</h2>
                <div class="form-row">
                    <label class="text-bold">Role Name</label>
                    <input type="text" name="name" class="input-text" placeholder="Role name">
                    <i class="far fa-clipboard"></i>
                </div>
                <div class="form-row-last" style="margin-top: 20px">
                    <input type="submit" class="register btn btn-primary" style="margin-right: 30px" value="Create">
                    @Html.ActionLink("Back to list", "Index", "AccountRoles", null,
                        new { @class = "btn btn-primary register", @style = "padding:14px" })
                </div>


            </form>

        </div>
    </div>
</div>