
@{
    ViewBag.Title = "Create Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section _Header
{
    @Html.Partial("_HeaderLayout");
}
@section _LeftMenu
{
    @Html.Partial("_LeftMenu");
}
@section _headerPage
{
    <header class="page-header">
        <h2>Add Role</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="#">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Admin Manager / Role / Add Role</span></li>
            </ol>

            <a class="sidebar-right-toggle"></a>
        </div>
    </header>
}

<h2 class="text-center">Form Create Role</h2>
<hr style="margin-top: 35px" />

<form action="/Admin/AccountRoles/Store" method="post" name="RoleForm" class=" form-group " style="margin: 90px -20px 0 0">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <span><b>Name</b></span> &nbsp;
            <input type="text" name="name" class="form-control" style="height: 35px" />
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row" style="margin-top: 20px">
        <div class="col-md-4"></div>
        <div class="col-md-2">
            <input type="submit" name="submit" value="Submit" class="form-control btn-primary" />
        </div>
        <div class="col-md-4" style="margin-top: 7px">
            @Html.ActionLink("Back to List", "Index", "AccountRoles", null, new
            {
                style = "margin-left: 100px"
            })
        </div>
    </div>

</form>

