@model IEnumerable<OHD_Project_Sem_3.Areas.Admin.Models.FacilityCategory>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section _Header
{
    @Html.Partial("_HeaderLayout");
}

@section _LeftMenu
{
    @Html.Partial("_LeftMenu");
}
@section _headerPage
{
    <header class="page-header">
        <h2>Register Account</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="#">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Admin Manager / Account / Register</span></li>
            </ol>

            <a class="sidebar-right-toggle"></a>
        </div>
    </header>
}


<div class="form-v5">
    <div class="page-content">
        <div class="form-v5-content">
            <form class="form-detail" action="/Admin/Account/Store" method="post" name="registration">
                <h2>Form Request</h2>
                <div class="form-row">
                    <label class="text-bold">Email address</label>
                    <input type="email" name="username"  class="input-text" placeholder="Email address">
                    <i class="fas fa-envelope"></i>
                </div>
                <div class="form-row">
                    <label class="text-bold">Fullname</label>
                    <input type="text" name="fullname"  class="input-text" placeholder="Full name"  >
                    <i class="far fa-clipboard"></i>
                </div>
                <div class="form-row">
                    <label class="text-bold">Phone</label>
                    <input type="text" name="phone"  class="input-text" placeholder="Phone number"  >
                    <i class="fas fa-phone"></i>
                </div>
                <div class="form-row">
                    <label class="text-bold">Password</label>
                    <input type="password" name="password" id="password" class="input-text" placeholder="Password"  >
                    <i class="fas fa-lock"></i>
                </div>
                <div class="form-row">
                    <label class="text-bold">Confirm password</label>
                    <input type="password" name="password_confirm"  class="input-text" placeholder="Confirm password"  >
                    <i class="fas fa-lock"></i>
                </div>
                <div class="form-row">
                    <label class="text-bold">Role</label>
                    <select name="role" class="input-text">
                        <option value="User">User</option>
                        <option value="Admin">Admin</option>
                        <option value="Facility-Heads">Facility-Heads</option>
                    </select>
                    <i class="fas fa-caret-down"></i>
                </div>
                <div class="form-row">
                    <label class="text-bold">Assignee</label>
                    <select name="ass" class="input-text"> 
                                     <option value="">Select</option> 
                                     @foreach (var item in Model) 
                                     { 
                     
                                         <option value="@item.FacilityCategory_Id">@item.FacilityCategory_Name</option> 
                                     } 
                     
                                 </select> 
                    <i class="fas fa-caret-down"></i>
                </div>
                <div class="form-row-last">
                    <input type="submit" class="register" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>
