
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section _headerPage
{
    <section role="main" class="content-body">
        <header class="page-header">
            <h2>Default Layout</h2>

            <div class="right-wrapper pull-right">
                <ol class="breadcrumbs">
                    <li>
                        <a href="index.html">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li><span>Layouts</span></li>
                    <li><span>Default</span></li>
                </ol>

                <a class="sidebar-right-toggle" ></a>
            </div>
        </header>

        <!-- start: page -->
        <!-- end: page -->
    </section>
}


