
@{
    ViewBag.Title = "ListRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
    <div class="container control-list-request"> 

    <table class="table mt-5" >
        <thead class="thead-light">
        <tr>
            <th scope="col">Id Request</th>
            <th scope="col">Category</th>
            <th scope="col">Facility</th>
            <th scope="col">Message</th>
            <th scope="col">Created At</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>Jack</td>
            <td>Jack</td>
            <td>Jack</td>
            <td>Jack</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>Jack</td>
            <td>Jack</td>
            <td>Jack</td>
            <td>Jack</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>Jack</td>
            <td>Jack</td>
            <td>Jack</td>
            <td>Jack</td>
        </tr>
        </tbody>
    </table>
    </div>